*{font-size:40px; font-family:Calibri;}
body{background-color:linen;}
.nav{background-color:black;}
.nav a{color:white; text-decoration: none; margin:50px;}
h2{width:70%;border:groove;border-radius:40px;}